[submodule "external/cirque-input-module"]
	path = external/cirque-input-module
	url = https://github.com/geeksville/cirque-input-module
	branch = toucan
[submodule "external/zmk-input-gestures"]
	path = external/zmk-input-gestures
	url = https://github.com/bennypowers/zmk-input-gestures
[submodule "external/zmk"]
	path = external/zmk
	url = https://github.com/zmkfirmware/zmk.git
	branch = toucan-fork
[submodule "references/model"]
	path = references/model
	url = https://github.com/geeksville/zmk-urob-geeksville
[submodule "references/qmk_firmware"]
	path = references/qmk_firmware
	url = https://github.com/qmk/qmk_firmware.git
