/* Greek letter sequences — L namespace */

#define TOUCAN_GREEK_LEADER_PREFIX L

ZMK_LEADER_SEQUENCE(el_alpha,   &txtsym TOUCAN_TEXT_SYMBOL_EL_ALPHA,      TOUCAN_GREEK_LEADER_PREFIX A)  // α
ZMK_LEADER_SEQUENCE(el_beta,    &txtsym TOUCAN_TEXT_SYMBOL_EL_BETA,       TOUCAN_GREEK_LEADER_PREFIX B)  // β
ZMK_LEADER_SEQUENCE(el_gamma,   &txtsym TOUCAN_TEXT_SYMBOL_EL_GAMMA,      TOUCAN_GREEK_LEADER_PREFIX G)  // γ
ZMK_LEADER_SEQUENCE(el_delta,   &txtsym TOUCAN_TEXT_SYMBOL_EL_DELTA,      TOUCAN_GREEK_LEADER_PREFIX D)  // δ
ZMK_LEADER_SEQUENCE(el_epsilon, &txtsym TOUCAN_TEXT_SYMBOL_EL_EPSILON,    TOUCAN_GREEK_LEADER_PREFIX E)  // ε
ZMK_LEADER_SEQUENCE(el_zeta,    &txtsym TOUCAN_TEXT_SYMBOL_EL_ZETA,       TOUCAN_GREEK_LEADER_PREFIX Z)  // ζ
ZMK_LEADER_SEQUENCE(el_eta,     &txtsym TOUCAN_TEXT_SYMBOL_EL_ETA,        TOUCAN_GREEK_LEADER_PREFIX H)  // η
ZMK_LEADER_SEQUENCE(el_theta,   &txtsym TOUCAN_TEXT_SYMBOL_EL_THETA,      TOUCAN_GREEK_LEADER_PREFIX V)  // θ
ZMK_LEADER_SEQUENCE(el_iota,    &txtsym TOUCAN_TEXT_SYMBOL_EL_IOTA,       TOUCAN_GREEK_LEADER_PREFIX I)  // ι
ZMK_LEADER_SEQUENCE(el_kappa,   &txtsym TOUCAN_TEXT_SYMBOL_EL_KAPPA,      TOUCAN_GREEK_LEADER_PREFIX K)  // κ
ZMK_LEADER_SEQUENCE(el_lambda,  &txtsym TOUCAN_TEXT_SYMBOL_EL_LAMBDA,     TOUCAN_GREEK_LEADER_PREFIX L)  // λ
ZMK_LEADER_SEQUENCE(el_mu,      &txtsym TOUCAN_TEXT_SYMBOL_EL_MU,         TOUCAN_GREEK_LEADER_PREFIX M)  // μ
ZMK_LEADER_SEQUENCE(el_nu,      &txtsym TOUCAN_TEXT_SYMBOL_EL_NU,         TOUCAN_GREEK_LEADER_PREFIX N)  // ν
ZMK_LEADER_SEQUENCE(el_xi,      &txtsym TOUCAN_TEXT_SYMBOL_EL_XI,         TOUCAN_GREEK_LEADER_PREFIX X)  // ξ
ZMK_LEADER_SEQUENCE(el_omikron, &txtsym TOUCAN_TEXT_SYMBOL_EL_OMIKRON,    TOUCAN_GREEK_LEADER_PREFIX O)  // ο
ZMK_LEADER_SEQUENCE(el_pi,      &txtsym TOUCAN_TEXT_SYMBOL_EL_PI,         TOUCAN_GREEK_LEADER_PREFIX P)  // π
ZMK_LEADER_SEQUENCE(el_rho,     &txtsym TOUCAN_TEXT_SYMBOL_EL_RHO,        TOUCAN_GREEK_LEADER_PREFIX R)  // ρ
ZMK_LEADER_SEQUENCE(el_sigma,   &txtsym TOUCAN_TEXT_SYMBOL_EL_SIGMA,      TOUCAN_GREEK_LEADER_PREFIX S)  // σ
ZMK_LEADER_SEQUENCE(el_tau,     &txtsym TOUCAN_TEXT_SYMBOL_EL_TAU,        TOUCAN_GREEK_LEADER_PREFIX T)  // τ
ZMK_LEADER_SEQUENCE(el_upsilon, &txtsym TOUCAN_TEXT_SYMBOL_EL_UPSILON,    TOUCAN_GREEK_LEADER_PREFIX U)  // υ
ZMK_LEADER_SEQUENCE(el_phi,     &txtsym TOUCAN_TEXT_SYMBOL_EL_PHI,        TOUCAN_GREEK_LEADER_PREFIX F)  // ϕ
ZMK_LEADER_SEQUENCE(el_chi,     &txtsym TOUCAN_TEXT_SYMBOL_EL_CHI,        TOUCAN_GREEK_LEADER_PREFIX C)  // χ
ZMK_LEADER_SEQUENCE(el_psi,     &txtsym TOUCAN_TEXT_SYMBOL_EL_PSI,        TOUCAN_GREEK_LEADER_PREFIX Y)  // ψ
ZMK_LEADER_SEQUENCE(el_omega,   &txtsym TOUCAN_TEXT_SYMBOL_EL_OMEGA,      TOUCAN_GREEK_LEADER_PREFIX W)  // ω
ZMK_LEADER_SEQUENCE(el_greek_mode, &hostmode TOUCAN_TEXT_ACTION_TOGGLE_GREEK_MODE, TOUCAN_GREEK_LEADER_PREFIX Q)
